nav {
  background: #000000;
  opacity: .8;
  height: 80 px;
  width: 100%;
}

nav a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

nav ul {
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;
}

nav li {
  display: inline;
  float: left;
}

.active {
  background-color: #589F3E;
}

.row {margin: 0 -5px}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #FFFFFF;
  margin-left: 40px;
}

.goals {
  text-align: center;
}

.goals ul {
  list-style-type: none;
}

.dashedbackground {
  background-image: url("line.png");
  background-size: 80%, 100%;
  background-position-y: 200px;
  background-position-x: 100%;
  background-repeat: no-repeat;
}

.question {
float: right;
margin-right: 30px;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.coloredhome {
  background-color: #CCE2C4;
  margin-top: 100px;
}

div.earthcounter {
  float: right;
  position: fixed;
  right: 10px;
  top: 0 px;
}

.button{
  border:none;
  background-color: black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
}

div.main-image{
  display: flex;
  justify-content: center;
}

div.pagewidth{
  display:flex;
  justify-content:center;
}

div.earthcontainer{
  display:flex;
  justify-content: center;
}

div.sustainabilitytest{
  display:flex;
  justify-content: center;
}

div.threeColumns{
  display:flex;
  justify-content: center;
}

div.cardimage{
  display:flex;
  justify-content: center;
}

div.boxright {
  display: flex;
  justify-content: flex-end;
}

div.words {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
}
